.logo img{
    width: 120px;
}
.redes i,
.redes svg{
    font-size: 20px;
    margin-right: 10px;
}
.carousel-item img{
    height: 800px;
}
.fondo-promo{
    padding: 7px 20px;
    background-image:url("../img/fondo-amarillo.png");
    background-size: contain;
    background-repeat: no-repeat;
      
}
.img-promos{
    width: 350px; ;
    height: 250px;
}

   